**/.circleci
**/.editorconfig
**/.dockerignore
**/.git
**/.DS_Store
**/.vscode
**/node_modules

!librechat.yaml


# Specific patterns to ignore
data-node
meili_data*
Dockerfile*
docs

# Ignore all hidden files
.*
